<!DOCTYPE html>
<html class="h-100">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description"
            content="Vous êtes développeur web, back-end, front-end, ReactJS, Symfony, Angular, truc, bidule ??! Vous êtes dev du dimanche, dev senior, dev junior, etc.
        Je suis certain que vous avez déjà employé des excuses bidons pour un projet, une réunion ou un rendez-vous... Ca serait sympa si vous pouviez nous en faire profiter">
        <meta name="keywords" content="dev, developpeur, code, excuses, symfony, php, mysql, humour, git, github, prieur, olivier, citizenz7, web, internet, site, junior, senior, job, vscode, phpstorm, javascript, angular, reactjs, jquery, flutter, react, aws, vps, serveur, dédié, linux, windows, iis, ubuntu, debian" />
        <meta name="image" content="http://excusesdedev.s2ii.xyz/img/logo.png">
        <meta name="author" content="citizenz7">
        <meta name="generator" content="Symfony5">
        <link rel="canonical" href="http://excusesdedev.s2ii.xyz" />
        <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large">
    
        <!-- Twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="excusesdedev.s2ii.xyz">
        <meta name="twitter:description"
            content="Vous êtes développeur web, back-end, front-end, ReactJS, Symfony, Angular, truc, bidule ??! Vous êtes dev du dimanche, dev senior, dev junior, etc.
        Je suis certain que vous avez déjà employé des excuses bidons pour un projet, une réunion ou un rendez-vous... Ca serait sympa si vous pouviez nous en faire profiter">
        <meta name="twitter:site" content="http://excusesdedev.s2ii.xyz">
        <meta name="twitter:image:src" content="http://excusesdedev.s2ii.xyz/img/logo.png">
    
        <!-- Open Graph general (Facebook, Pinterest & Google+) -->
        <meta name="og:title" content="excusesdedev.s2ii.xyz}">
        <meta name="og:description"
            content="Vous êtes développeur web, back-end, front-end, ReactJS, Symfony, Angular, truc, bidule ??! Vous êtes dev du dimanche, dev senior, dev junior, etc.
        Je suis certain que vous avez déjà employé des excuses bidons pour un projet, une réunion ou un rendez-vous... Ca serait sympa si vous pouviez nous en faire profiter">
        <meta name="og:image" content="http://excusesdedev.s2ii.xyz/img/logo.png">
        <meta name="og:url" content="http://excusesdedev.s2ii.xyz">
        <meta name="og:site_name" content="excusesdedev.s2ii.xyz">
        <meta name="og:locale" content="fr_FR">
        <meta name="og:type" content="website">
    
        <!-- Schema.org for Google -->
        <meta itemprop="name" content="excusesdedev.s2ii.xyz">
        <meta itemprop="description" content="Vous êtes développeur web, back-end, front-end, ReactJS, Symfony, Angular, truc, bidule ??! Vous êtes dev du dimanche, dev senior, dev junior, etc.
        Je suis certain que vous avez déjà employé des excuses bidons pour un projet, une réunion ou un rendez-vous... Ca serait sympa si vous pouviez nous en faire profiter">
        <meta itemprop="image" content="http://excusesdedev.s2ii.xyz/img/logo.png">
    
        <title>{% block title %}Welcome!{% endblock %}</title>
    
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
        <!-- Font Awesome css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>

<body class="d-flex flex-column h-100">

    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <span class="fs-1 fw-bold"><i class="fas fa-code"></i> excusesdedev.s2ii.xyz</span>
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item"><a href="{{ path('home') }}"
                        class="nav-link {% if current_menu is defined and current_menu == 'accueil' %} active {% endif %}"
                        aria-current="page">Accueil</a></li>
                <li class="nav-item"><a href="{{ path('excuse_index') }}"
                        class="nav-link {% if current_menu is defined and current_menu == 'excuses' %} active {% endif %}">Toutes
                        les excuses</a></li>
                <li class="nav-item"><a href="{{ path('excuse_new') }}"
                        class="nav-link {% if current_menu is defined and current_menu == 'excuseNew' %} active {% endif %}">Ajouter
                        une excuse</a></li>
                <li class="nav-item"><a href="{{ path('apropos') }}"
                        class="nav-link {% if current_menu is defined and current_menu == 'apropos' %} active {% endif %}">A
                        propos</a></li>
            </ul>
        </header>
    </div>

    <main class="flex-shrink-0">
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <p class="text-muted small text-center">
                excusesdedev.s2ii.xyz - 2021 -
                Some rights reserved
                <br>
                <a class="text-decoration-none text-muted" href="{{ path('admin') }}">Administration</a> -
                Images : <a href="https://pixabay.com" target="_blank"
                    class="text-decoration-none text-muted">Pixabay</a> - 
                <a href="https://github.com/citizenz7/excusesdedev" target="_blank"><i class="fab fa-github"></i></a>  
                <a href="https://www.linkedin.com/in/oprieur-pro/" target="_blank"><i class="fab fa-linkedin"></i></a>
            </p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>

</body>

</html>